<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D'Resto</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <a class="skip-to-content" href="#main-heading">Skip To Content</a>
  <header>
    <div class="brand" href="#">D'Resto</div>
    <button class="hamburger-btn" tabindex="0">☰</button>
    <nav data-hide="true">
      <a href="/">Home</a>
      <a href="#">Favorite</a>
      <a href="https://www.linkedin.com/in/stevan-leonardy-564960193/" target="_blank">About Us</a>
    </nav>
  </header>
  <main>
    <section class="jumbotron-container">
      <div class="jumbotron">
        <h1 id="main-heading" tabindex="0">Eat today, live another day.</h1>
        <div class="overlay"></div>
      </div>
    </section>
    <section class="explore-restaurant">
      <h2 tabindex="0">Explore Restaurant</h2>
      <div class="restaurant-list">
      </div>
    </section>
  </main>
  <footer>
    Copyright &copy; 2021 - D'Resto
  </footer>
</body>

</html>