:root {
  --primary: #ff6701;
  --secondary: #fea82f;
  --text-primary: #ffc288;
  --text-secondary: #fcecdd;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  position: relative;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

header,
nav {
  display: grid;
}

header {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: .5rem 2rem;
  align-items: center;
  background-color: var(--primary);
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

nav {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 44px;
  align-items: center;
  font-weight: 600;
}

nav>a {
  padding: 1rem;
  text-align: center;
}

nav>a:hover {
  color: var(--text-secondary);
  opacity: .75;
  text-decoration: underline;
}

.hamburger-btn {
  display: none;
}

main,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

button:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  outline: none;
}

.skip-to-content {
  position: absolute;
  top: -50px;
  left: 0;
  padding: 1rem;
  background-color: var(--text-primary);
  color: white;
  transition: ease 0.3s;
  max-width: fit-content;
  z-index: 1000;
}

.skip-to-content:focus {
  top: 5px;
  transition: ease 0.3s;
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 40px;
  text-align: center;
  margin: auto;
  z-index: 2;
}

.jumbotron-container {
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  max-width: fit-content;
  margin: 1rem auto;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  background-image: url(/images/heros/hero-image_2.jpg);
  background-size: cover;
  background-position: center;
}

.explore-restaurant {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 1rem 2rem;
}

.rating-container {
  color: rgb(55, 177, 39);
}

.like-button-container {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.like-button,
.liked-button {
  padding: .5rem;
  border: none;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.like-button:hover,
.liked-button:hover {
  background-color: #dba355;
}

.centered {
  text-align: center;
}

footer {
  padding: 1rem;
  background-color: var(--secondary);
  color: white;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 980px) {
  header {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  header {
    grid-template-columns: 1fr .1fr;
    grid-template-rows: 44px;
    align-items: center;
    background-color: var(--primary);
    color: var(--text-secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: .5rem 1rem;
  }

  .hamburger-btn {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
  }

  nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: var(--secondary);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40px);
    align-items: center;
    justify-items: flex-start;
    transform: translateX(100%);
    color: white;
    z-index: 1000;
  }

  nav[data-hide="false"] {
    visibility: visible;
    transform: translateX(0);
    transition-duration: .3s;
  }

  nav a {
    padding: 1rem;
  }

  .jumbotron {
    min-height: 350px;
    max-height: 350px;
  }

  .restaurant-list {
    grid-template-columns: 1fr;
    gap: 2rem 1rem;
  }
}